<%- include('partials/header')%>
<div class="login-wrap">
    <div class="container mt-5">
        <h1 class="text-center">Login</h1>
        <div class="row justify-content-center">
            <div class="col-8 col-md-6 ">
                <div class="card">
                    <div class="card-body">
                        <form action="/login" method="post">
                            <div class="form-group">
                                <input type="email" name="username" id="email" class="form-control">
                                <label for="email">Email: </label>
                            </div>
                            <!-- /.form-group -->

                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control">
                                <label for="password">Password: </label>
                            </div>
                            <!-- /.form-group -->
                            <button type="submit" class="btn btn-dark">Login</button>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.login-wrap -->
<%- include('partials/footer')%>